/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Users/ahripak/.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 29, ../scss/screen.scss */
.tablet-only {
  display: none;
}
@media (min-width: 768px) {
  /* line 29, ../scss/screen.scss */
  .tablet-only {
    display: block;
  }
}

/* line 36, ../scss/screen.scss */
.mobile-only {
  display: block;
}
@media (min-width: 768px) {
  /* line 36, ../scss/screen.scss */
  .mobile-only {
    display: none;
  }
}

@media (max-width: 1170px) {
  /* line 43, ../scss/screen.scss */
  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  /* line 49, ../scss/screen.scss */
  .hide-mobile {
    display: none !important;
  }
}

/* line 55, ../scss/screen.scss */
body {
  color: #333;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

/* line 68, ../scss/screen.scss */
#footer .footer-menu-section a, #footer .footer-menu-info div, #top-header, #sub-header, #header .header-item, #mobile-header-number a, .mm-inner a, .landing-strip-wrapper .landing-strip-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* line 73, ../scss/screen.scss */
.by-beehive {
  color: #CCC;
  font-size: 16px;
  text-align: right;
  padding: 30px 15px;
  pointer-events: none;
}

/* line 81, ../scss/screen.scss */
.italic {
  font-style: italic;
}

/* line 85, ../scss/screen.scss */
.b-clear {
  overflow: hidden;
}

/* line 89, ../scss/screen.scss */
.outer {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 95, ../scss/screen.scss */
.inner-outer {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 101, ../scss/screen.scss */
#footer {
  background-image: linear-gradient(0deg, #e7e7e8, #f4f5f4);
  padding: 20px 0;
}
/* line 104, ../scss/screen.scss */
#footer .outer {
  overflow: hidden;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  padding: 40px 0;
}
/* line 112, ../scss/screen.scss */
#footer .footer-menu-section {
  float: left;
  width: calc(100% / 8);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
/* line 117, ../scss/screen.scss */
#footer .footer-menu-section a {
  display: block;
  color: #050100;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 13px;
  word-break: break-word;
}
@media (max-width: 668px) {
  /* line 112, ../scss/screen.scss */
  #footer .footer-menu-section {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
  }
}
/* line 136, ../scss/screen.scss */
#footer .footer-menu-info {
  float: right;
  width: calc(100% / 4);
}
/* line 139, ../scss/screen.scss */
#footer .footer-menu-info img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  display: block;
}
/* line 145, ../scss/screen.scss */
#footer .footer-menu-info div {
  margin-bottom: 15px;
  color: #022f3b;
  font-size: 13px;
}
/* line 151, ../scss/screen.scss */
#footer .footer-menu-info a[href^="tel"] {
  color: #022f3b;
}
/* line 153, ../scss/screen.scss */
#footer .footer-menu-info a[href^="tel"]:hover, #footer .footer-menu-info a[href^="tel"]:active {
  color: #022f3b;
}
@media (max-width: 668px) {
  /* line 136, ../scss/screen.scss */
  #footer .footer-menu-info {
    width: 100%;
    max-width: 200px;
    float: left;
    padding-left: 15px;
  }
}

/* line 167, ../scss/screen.scss */
#top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  background: #e6eaee;
  font-size: 15px;
  color: #050100;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}
/* line 180, ../scss/screen.scss */
#top-header a:link,
#top-header a:visited,
#top-header span {
  color: #050100;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  color: #16507d;
}
/* line 188, ../scss/screen.scss */
#top-header a:link:hover, #top-header a:link:active,
#top-header a:visited:hover,
#top-header a:visited:active,
#top-header span:hover,
#top-header span:active {
  color: #5eb1e3;
}
/* line 193, ../scss/screen.scss */
#top-header .top-header-separator {
  color: #014d98;
  padding: 0 5px;
}
@media (max-width: 767px) {
  /* line 167, ../scss/screen.scss */
  #top-header {
    display: none;
  }
}

/* line 202, ../scss/screen.scss */
#sub-header {
  position: fixed;
  top: 115px;
  z-index: 90;
  background: #f6f7fa;
  padding: 10px;
  padding-bottom: 12px;
  width: 100%;
  text-align: right;
}
/* line 212, ../scss/screen.scss */
#sub-header span {
  display: inline-block;
  position: relative;
  top: 3px;
  height: 17px;
  line-height: 17px;
  font-size: 24px;
  border-right: 1px solid #a9bcc3;
  width: 1px;
}
/* line 222, ../scss/screen.scss */
#sub-header a {
  display: inline-block;
  color: #050100;
  text-decoration: none;
  padding: 0 6px;
  font-size: 14px;
  font-weight: 100;
}
/* line 229, ../scss/screen.scss */
#sub-header a.active {
  font-weight: bold;
}
/* line 232, ../scss/screen.scss */
#sub-header a:hover {
  color: #106799;
}
@media (max-width: 1170px) {
  /* line 202, ../scss/screen.scss */
  #sub-header {
    top: 105px;
  }
}
@media (max-width: 767px) {
  /* line 202, ../scss/screen.scss */
  #sub-header {
    top: 70px;
    text-align: left;
  }
  /* line 243, ../scss/screen.scss */
  #sub-header span {
    display: none;
  }
}

/* line 253, ../scss/screen.scss */
#header {
  background: #f1f4fe;
  height: 80px;
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 1000;
  -moz-transition: all 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: all 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transition: all 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
/* line 266, ../scss/screen.scss */
#header .inner-outer {
  height: 80px;
}
/* line 269, ../scss/screen.scss */
#header .header-item {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 18px;
  border-top: 1px solid transparent;
  font-size: 20px;
  color: #f96400;
  color: #16507d;
  text-decoration: none;
  font-weight: 500;
}
/* line 276, ../scss/screen.scss */
#header .header-item.active, #header .header-item:hover {
  border-top: 1px solid #050100;
  color: #5eb1e3;
}
@media (max-width: 1170px) {
  /* line 269, ../scss/screen.scss */
  #header .header-item {
    font-size: 16px;
    padding: 0 10px;
    height: 70px;
    line-height: 70px;
  }
}
/* line 293, ../scss/screen.scss */
#header .header-separator {
  display: inline-block;
  position: relative;
  top: 10px;
  height: 60px;
  line-height: 80px;
  font-size: 24px;
  border-right: 1px solid #a9bcc3;
  width: 1px;
}
@media (max-width: 1170px) {
  /* line 253, ../scss/screen.scss */
  #header {
    height: 70px;
  }
  /* line 305, ../scss/screen.scss */
  #header .inner-outer {
    height: 70px;
  }
  /* line 308, ../scss/screen.scss */
  #header .header-separator {
    line-height: 70px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  /* line 253, ../scss/screen.scss */
  #header {
    top: 0;
  }
  /* line 315, ../scss/screen.scss */
  #header .header-separator,
  #header .header-item {
    display: none;
  }
}

/* line 322, ../scss/screen.scss */
#mobile-header-number {
  padding-right: 15px;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 5px;
}
/* line 328, ../scss/screen.scss */
#mobile-header-number a {
  text-decoration: none;
  font-size: 14px;
}

/* line 335, ../scss/screen.scss */
#logo {
  display: block;
  position: relative;
  margin-right: 60px;
  top: 16px;
  width: 308.25px;
  height: 48.75px;
  background-image: url("../img/header-logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
  float: left;
}
@media (max-width: 1170px) {
  /* line 335, ../scss/screen.scss */
  #logo {
    width: 231.1875px;
    height: 36.5625px;
    margin-right: 20px;
  }
}

/* line 356, ../scss/screen.scss */
#mobile-menu {
  font-size: 60px;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 50%;
  top: 37%;
  margin-top: -30px;
  color: #00303b;
}

/* line 367, ../scss/screen.scss */
#mobile-menu-wrapper {
  display: block;
  position: fixed;
  z-index: 100000;
  background: #FFF;
  top: 70px;
  right: -252px;
  width: 250px;
  -moz-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  border-left: 1px solid #00303b;
}

/* line 383, ../scss/screen.scss */
html .main-container {
  position: relative;
  left: 0;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media (max-width: 767px) {
  /* line 392, ../scss/screen.scss */
  html.menu-out {
    height: 100%;
    overflow-y: hidden;
  }
  /* line 395, ../scss/screen.scss */
  html.menu-out .main-container {
    left: -250px;
  }
  /* line 398, ../scss/screen.scss */
  html.menu-out #mobile-menu-wrapper {
    display: block;
    top: 70px;
    right: 0;
    width: 250px;
    height: 100%;
  }
}

/* line 410, ../scss/screen.scss */
.mm-inner a {
  text-decoration: none;
  color: #00303b;
  display: block;
  padding: 10px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 417, ../scss/screen.scss */
.mm-inner a:hover, .mm-inner a:active {
  color: #00303b;
}

/* line 428, ../scss/screen.scss */
.landing-strip-wrapper {
  background-image: url("../img/large-hero-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: #a2a2a2;
  background-position: bottom center;
  position: relative;
  overflow: hidden;
}
/* line 438, ../scss/screen.scss */
.landing-strip-wrapper .white-drift {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30vh;
  height: 30vh;
  background-image: linear-gradient(0deg, #ffffff 1%, rgba(255, 255, 255, 0) 95%);
  z-index: 106;
}
/* line 453, ../scss/screen.scss */
.landing-strip-wrapper .intro-jet {
  position: absolute;
  left: calc(50% - 31vw);
  top: calc(100vh - 30vw);
  margin: 0 auto;
  width: 60vw;
  height: 60vw;
  background-image: url("../img/intro-jet-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(0, 0) scale(1);
  z-index: 100;
}
/* line 471, ../scss/screen.scss */
.landing-strip-wrapper .cloud-1 {
  position: absolute;
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  bottom: -10vw;
  left: -10vw;
  background-image: url("../img/more-clouds.png");
  background-position: 0 bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0, 0);
  opacity: .6;
  z-index: 105;
}
/* line 486, ../scss/screen.scss */
.landing-strip-wrapper .cloud-2 {
  position: absolute;
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  bottom: 10vw;
  right: -30vw;
  background-image: url("../img/more-clouds.png");
  background-position: 0 bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0, 0);
  opacity: .6;
  z-index: 95;
}
/* line 501, ../scss/screen.scss */
.landing-strip-wrapper .cloud-3 {
  position: absolute;
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  bottom: 100vw;
  right: -30vw;
  background-image: url("../img/more-clouds.png");
  background-position: 0 bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0, 0);
  opacity: .6;
  z-index: 95;
}
/* line 516, ../scss/screen.scss */
.landing-strip-wrapper .cloud-4 {
  position: absolute;
  margin: 0 auto;
  width: 80vw;
  height: 80vw;
  bottom: 100vw;
  left: -10vw;
  background-image: url("../img/more-clouds.png");
  background-position: 0 bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0, 0);
  opacity: .6;
  z-index: 105;
}
/* line 531, ../scss/screen.scss */
.landing-strip-wrapper .landing-strip-text {
  position: relative;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  padding-right: 20px;
  color: #106799;
  z-index: 105;
  width: 100%;
  text-align: center;
  top: 47vh;
}
/* line 543, ../scss/screen.scss */
.landing-strip-wrapper .landing-strip-text .landing-strip-text-line {
  margin-bottom: 1em;
  font-style: italic;
}
@media (max-width: 767px) {
  /* line 543, ../scss/screen.scss */
  .landing-strip-wrapper .landing-strip-text .landing-strip-text-line {
    font-size: .8em;
  }
}
@media (max-width: 767px) {
  /* line 531, ../scss/screen.scss */
  .landing-strip-wrapper .landing-strip-text {
    top: 20vh;
  }
}

/* line 556, ../scss/screen.scss */
.floating-logo {
  width: 263.25px;
  height: 180.05px;
  display: block;
  background-image: url("../img/hartwell_logo_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  left: 10vw;
  top: 50vh;
  z-index: 120;
}

/* line 573, ../scss/screen.scss */
.para-col-2-right {
  padding-top: 40px;
  padding-bottom: 60px;
  overflow: hidden;
}
/* line 577, ../scss/screen.scss */
.para-col-2-right .img {
  float: left;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 584, ../scss/screen.scss */
.para-col-2-right .body {
  float: left;
  width: 50%;
  height: 100%;
}
/* line 588, ../scss/screen.scss */
.para-col-2-right .body h3 {
  font-size: 26px;
  font-weight: bold;
  color: #014d98;
  color: #050100;
  border-bottom: 1px solid #f96400;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 20%;
}
/* line 599, ../scss/screen.scss */
.para-col-2-right .body p {
  font-size: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #050100;
  color: #014d98;
  line-height: 1.2em;
  margin-bottom: 25px;
  max-width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-left: 20%;
}
/* line 612, ../scss/screen.scss */
.para-col-2-right .body ul {
  list-style-type: disc;
  color: #014d98;
  margin-left: 20%;
}
/* line 616, ../scss/screen.scss */
.para-col-2-right .body ul > ul {
  margin-left: 20px;
}
/* line 619, ../scss/screen.scss */
.para-col-2-right .body ul li {
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 300;
}

/* line 628, ../scss/screen.scss */
.para-col-left,
.para-col-right {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 60px;
}
/* line 634, ../scss/screen.scss */
.para-col-left .para,
.para-col-right .para {
  float: left;
  width: 33.333%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  position: relative;
  z-index: 0;
  transform: translate(0, 0);
  transition: transform 10ms linear;
}
/* line 647, ../scss/screen.scss */
.para-col-left .body,
.para-col-right .body {
  float: left;
  width: 33.333%;
  height: 100%;
}
/* line 651, ../scss/screen.scss */
.para-col-left .body h3,
.para-col-right .body h3 {
  font-size: 26px;
  font-weight: bold;
  color: #014d98;
  color: #050100;
  border-bottom: 1px solid #f96400;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 80%;
}
/* line 661, ../scss/screen.scss */
.para-col-left .body p,
.para-col-right .body p {
  font-size: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #050100;
  color: #014d98;
  line-height: 1.2em;
  margin-bottom: 25px;
  max-width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
/* line 673, ../scss/screen.scss */
.para-col-left .body ul,
.para-col-right .body ul {
  list-style-type: disc;
  color: #014d98;
}
/* line 676, ../scss/screen.scss */
.para-col-left .body ul li,
.para-col-right .body ul li {
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 300;
}
/* line 683, ../scss/screen.scss */
.para-col-left .img,
.para-col-right .img {
  float: left;
  width: 33.333%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 691, ../scss/screen.scss */
  .para-col-left .body,
  .para-col-right .body {
    float: none;
    width: 100%;
  }
  /* line 694, ../scss/screen.scss */
  .para-col-left .body p, .para-col-left .body h3,
  .para-col-right .body p,
  .para-col-right .body h3 {
    max-width: 100%;
  }
  /* line 698, ../scss/screen.scss */
  .para-col-left .img,
  .para-col-right .img {
    float: none;
    width: 100%;
    height: auto !important;
    display: none;
  }
  /* line 704, ../scss/screen.scss */
  .para-col-left img,
  .para-col-right img {
    height: auto !important;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* line 714, ../scss/screen.scss */
.para-col-right .body h3, .para-col-right .body p {
  margin-left: 20%;
}
/* line 718, ../scss/screen.scss */
.para-col-right .para {
  background-position: right center;
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  /* line 726, ../scss/screen.scss */
  .para-col-right .body p, .para-col-right .body h3 {
    max-width: 100%;
    margin-left: 0;
  }
}

/* line 734, ../scss/screen.scss */
.para-col-left-1,
.para-col-right-1 {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 60px;
}
/* line 740, ../scss/screen.scss */
.para-col-left-1 .body,
.para-col-right-1 .body {
  float: left;
  width: 50%;
  height: 100%;
}
/* line 744, ../scss/screen.scss */
.para-col-left-1 .body h3,
.para-col-right-1 .body h3 {
  font-size: 26px;
  font-weight: bold;
  color: #014d98;
  color: #050100;
  border-bottom: 1px solid #f96400;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 80%;
}
/* line 754, ../scss/screen.scss */
.para-col-left-1 .body p,
.para-col-right-1 .body p {
  font-size: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #050100;
  color: #014d98;
  line-height: 1.5em;
  margin-bottom: 25px;
  max-width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
/* line 766, ../scss/screen.scss */
.para-col-left-1 .body ul,
.para-col-right-1 .body ul {
  list-style-type: disc;
  color: #014d98;
}
/* line 769, ../scss/screen.scss */
.para-col-left-1 .body ul li,
.para-col-right-1 .body ul li {
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 300;
}
/* line 776, ../scss/screen.scss */
.para-col-left-1 .img,
.para-col-right-1 .img {
  float: left;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  /* line 784, ../scss/screen.scss */
  .para-col-left-1 .body,
  .para-col-right-1 .body {
    float: none;
    width: 100%;
  }
  /* line 787, ../scss/screen.scss */
  .para-col-left-1 .body p, .para-col-left-1 .body h3,
  .para-col-right-1 .body p,
  .para-col-right-1 .body h3 {
    max-width: 100%;
  }
  /* line 791, ../scss/screen.scss */
  .para-col-left-1 .img,
  .para-col-right-1 .img {
    float: none;
    width: 100%;
    height: auto !important;
    display: none;
  }
  /* line 797, ../scss/screen.scss */
  .para-col-left-1 img,
  .para-col-right-1 img {
    height: auto !important;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* line 807, ../scss/screen.scss */
.para-col-right-1 .body h3, .para-col-right-1 .body p {
  margin-left: 20%;
}
@media (max-width: 767px) {
  /* line 813, ../scss/screen.scss */
  .para-col-right-1 .body p, .para-col-right-1 .body h3 {
    max-width: 100%;
    margin-left: 0;
  }
}

/* line 821, ../scss/screen.scss */
.recipient-selector {
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
/* line 826, ../scss/screen.scss */
.recipient-selector .recipient-group {
  width: 33.333%;
  float: left;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 1170px) {
  /* line 826, ../scss/screen.scss */
  .recipient-selector .recipient-group {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 826, ../scss/screen.scss */
  .recipient-selector .recipient-group {
    width: 100%;
    float: none;
  }
}
/* line 837, ../scss/screen.scss */
.recipient-selector .recipient-group h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
  font-weight: bold;
}
/* line 843, ../scss/screen.scss */
.recipient-selector .recipient-group label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}
/* line 848, ../scss/screen.scss */
.recipient-selector .recipient-group input {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
}
/* line 853, ../scss/screen.scss */
.recipient-selector .recipient-group span {
  font-weight: 200;
  display: block;
  margin-bottom: 8px;
}
/* line 858, ../scss/screen.scss */
.recipient-selector .recipient-group .input-labels {
  display: inline-block;
  width: calc(100% - 50px);
}

/* line 865, ../scss/screen.scss */
.form-left,
.form-right {
  max-width: 500px;
}
/* line 868, ../scss/screen.scss */
.form-left label,
.form-right label {
  display: block;
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 872, ../scss/screen.scss */
.form-left label span,
.form-right label span {
  display: block;
  font-weight: bold;
}
/* line 876, ../scss/screen.scss */
.form-left label input,
.form-right label input {
  display: block;
  margin-top: 10px;
  border: 1px solid #CCC;
  font-size: 14px;
  padding: 10px;
  outline: 0 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0;
}
/* line 887, ../scss/screen.scss */
.form-left label input:focus,
.form-right label input:focus {
  border-color: #999999;
}
/* line 890, ../scss/screen.scss */
.form-left label input.error,
.form-right label input.error {
  border-color: #CC333F;
}

/* line 898, ../scss/screen.scss */
.form-right label input {
  width: 100%;
}

/* line 903, ../scss/screen.scss */
label.comment {
  max-width: 500px;
  display: block;
  margin-bottom: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 908, ../scss/screen.scss */
label.comment span {
  display: block;
  font-weight: bold;
}
/* line 912, ../scss/screen.scss */
label.comment textarea {
  display: block;
  margin-top: 10px;
  border: 1px solid #CCC;
  font-size: 14px;
  padding: 10px;
  outline: 0 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  border-radius: 0;
}
/* line 923, ../scss/screen.scss */
label.comment textarea:focus {
  border-color: #999999;
}

/* line 929, ../scss/screen.scss */
input[type="submit"],
.form-submit-link {
  display: inline-block;
  text-decoration: none;
  border-radius: 0;
  background: #014d98;
  color: #FFF;
  border: 1px solid #014d98;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  outline: 0;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
/* line 943, ../scss/screen.scss */
input[type="submit"]:hover,
.form-submit-link:hover {
  background-color: #FFF;
  color: #014d98;
}

/* line 950, ../scss/screen.scss */
.spinner-wrapper img {
  margin-left: 10px;
  display: none;
}
/* line 953, ../scss/screen.scss */
.spinner-wrapper img.hot {
  display: inline;
}

/* line 959, ../scss/screen.scss */
.swipe-item-slideshow {
  margin-top: 0 !important;
  min-height: 200px;
  height: 100%;
}
/* line 963, ../scss/screen.scss */
.swipe-item-slideshow .swipe-wrap {
  height: 100%;
}
/* line 966, ../scss/screen.scss */
.swipe-item-slideshow .swipe-wrap > div {
  min-height: 200px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 973, ../scss/screen.scss */
.item-slideshow {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 1100px;
  width: 100%;
}
/* line 979, ../scss/screen.scss */
.item-slideshow .faux {
  width: 260px;
  float: left;
  height: 100%;
  display: block;
}
/* line 985, ../scss/screen.scss */
.item-slideshow .img {
  float: left;
  width: 480px;
  height: 100%;
  min-height: 200px;
}
@media (max-width: 1170px) {
  /* line 985, ../scss/screen.scss */
  .item-slideshow .img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 985, ../scss/screen.scss */
  .item-slideshow .img {
    width: 100%;
  }
}
/* line 998, ../scss/screen.scss */
.item-slideshow .body {
  float: left;
  width: 33.333%;
  width: 360px;
  height: 100%;
  padding-bottom: 60px;
}
@media (max-width: 1170px) {
  /* line 998, ../scss/screen.scss */
  .item-slideshow .body {
    width: 50%;
  }
}
@media (max-width: 767px) {
  /* line 998, ../scss/screen.scss */
  .item-slideshow .body {
    width: 100%;
  }
}
/* line 1011, ../scss/screen.scss */
.item-slideshow .body h3 {
  font-size: 26px;
  font-weight: bold;
  color: #014d98;
  color: #050100;
  border-bottom: 1px solid #f96400;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 80%;
}
/* line 1021, ../scss/screen.scss */
.item-slideshow .body p {
  font-size: 16px;
  font-size: 18px;
  font-weight: bold;
  color: #050100;
  color: #014d98;
  line-height: 1.5em;
  margin-bottom: 25px;
  max-width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
/* line 1033, ../scss/screen.scss */
.item-slideshow .body ul {
  list-style-type: disc;
  color: #014d98;
}
/* line 1036, ../scss/screen.scss */
.item-slideshow .body ul li {
  margin-left: 20px;
  margin-bottom: 15px;
  font-weight: 300;
}

/* line 1045, ../scss/screen.scss */
.whitespace {
  height: 1000px;
  width: 100%;
}

/* line 1050, ../scss/screen.scss */
.product-types-outer-wrapper {
  background-color: #e7e8e9;
}

/* line 1053, ../scss/screen.scss */
.product-types {
  overflow: hidden;
  padding: 100px 0;
}

/* line 1058, ../scss/screen.scss */
.product-type {
  float: left;
  width: 25%;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 767px) {
  /* line 1058, ../scss/screen.scss */
  .product-type {
    width: 50%;
    margin-bottom: 25px;
  }
}
@media (max-width: 668px) {
  /* line 1058, ../scss/screen.scss */
  .product-type {
    width: 100%;
    margin-bottom: 25px;
  }
}
/* line 1072, ../scss/screen.scss */
.product-type .product-type-label {
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}
/* line 1077, ../scss/screen.scss */
.product-type img {
  max-width: 200px;
  height: auto;
  display: inline-block;
  position: relative;
  left: -20px;
}

/* line 1086, ../scss/screen.scss */
.news-headline {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 40px 0;
}

/* line 1093, ../scss/screen.scss */
.skip-menu {
  margin-top: 157px;
}

/* line 1097, ../scss/screen.scss */
.news-back-link {
  display: block;
  margin-top: 10px;
}

/* line 1102, ../scss/screen.scss */
.news-item-single {
  font-size: 16px;
  font-size: 18px;
  line-height: 22px;
}
/* line 1103, ../scss/screen.scss */
.news-item-single p {
  margin-bottom: 10px;
}

/* line 1111, ../scss/screen.scss */
.news-item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 18px 10px;
  font-family: 'Josefin Sans', sans-serif;
}
@media (max-width: 767px) {
  /* line 1111, ../scss/screen.scss */
  .news-item {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 1124, ../scss/screen.scss */
.news-item h3 a {
  font-size: 23px;
  font-weight: bold;
  color: #6d6e71;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #f96400;
}

/* line 1136, ../scss/screen.scss */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin-top: 157px;
}
/* line 1141, ../scss/screen.scss */
.swipe.no-sub {
  margin-top: 115px;
}
@media (max-width: 1170px) {
  /* line 1136, ../scss/screen.scss */
  .swipe {
    margin-top: 146px;
  }
  /* line 1146, ../scss/screen.scss */
  .swipe.no-sub {
    margin-top: 105px;
  }
}
@media (max-width: 767px) {
  /* line 1136, ../scss/screen.scss */
  .swipe {
    margin-top: 108px;
  }
  /* line 1152, ../scss/screen.scss */
  .swipe.no-sub {
    margin-top: 70px;
  }
}

/* line 1158, ../scss/screen.scss */
#wireframe {
  overflow: hidden;
  position: relative;
  margin-top: 157px;
  height: 741px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
/* line 1168, ../scss/screen.scss */
#wireframe.no-sub {
  margin-top: 115px;
}
/* line 1171, ../scss/screen.scss */
#wireframe .wireframe-fg {
  height: 741px;
  width: 1140px;
  background-position: center center;
  background-size: 100% 100%;
  margin: 0 auto;
  position: relative;
}
/* line 1181, ../scss/screen.scss */
#wireframe .wireframe-circle {
  position: absolute;
  background-image: url("../img/circle-inactive.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 179px;
  height: 184px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  display: table;
}
/* line 1193, ../scss/screen.scss */
#wireframe .wireframe-circle span, #wireframe .wireframe-circle a, #wireframe .wireframe-circle a:hover, #wireframe .wireframe-circle a:active, #wireframe .wireframe-circle a:visited {
  display: table-cell;
  vertical-align: middle;
  color: #FFF;
  font-weight: 600;
  font-size: 17px;
  user-select: none;
}
/* line 1201, ../scss/screen.scss */
#wireframe .wireframe-circle:hover {
  background-image: url("../img/circle-active.png");
}
@media (max-width: 1170px) {
  /* line 1158, ../scss/screen.scss */
  #wireframe {
    margin-top: 146px;
    height: 518.7px;
  }
  /* line 1207, ../scss/screen.scss */
  #wireframe.no-sub {
    margin-top: 105px;
  }
  /* line 1211, ../scss/screen.scss */
  #wireframe .wireframe-fg {
    height: 518.7px;
    width: 798px;
  }
  /* line 1215, ../scss/screen.scss */
  #wireframe .wireframe-fg .wireframe-circle {
    width: 125.3px;
    height: 128.8px;
  }
  /* line 1218, ../scss/screen.scss */
  #wireframe .wireframe-fg .wireframe-circle span, #wireframe .wireframe-fg .wireframe-circle a, #wireframe .wireframe-fg .wireframe-circle a:hover, #wireframe .wireframe-fg .wireframe-circle a:active, #wireframe .wireframe-fg .wireframe-circle a:visited {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  /* line 1158, ../scss/screen.scss */
  #wireframe {
    margin-top: 108px;
  }
  /* line 1226, ../scss/screen.scss */
  #wireframe.no-sub {
    margin-top: 70px;
  }
}

/* line 1232, ../scss/screen.scss */
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

/* line 1236, ../scss/screen.scss */
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* line 1242, ../scss/screen.scss */
.page-headline {
  padding-top: 6vh;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

/* line 1251, ../scss/screen.scss */
#swipe-fade {
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(0deg, #ffffff 1%, rgba(255, 255, 255, 0) 95%);
}

/* line 1265, ../scss/screen.scss */
.hero {
  height: 80vh;
  background: url("../img/heros/home.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1170px) {
  /* line 1265, ../scss/screen.scss */
  .hero {
    height: 50vh;
    background-size: 100% auto;
    background-position: center top;
  }
}
@media (max-width: 767px) {
  /* line 1265, ../scss/screen.scss */
  .hero {
    height: 40vh;
  }
}
@media (max-width: 668px) {
  /* line 1265, ../scss/screen.scss */
  .hero {
    height: 30vh;
    height: 300px;
    background-size: cover;
  }
}

/* line 1285, ../scss/screen.scss */
.hero-box {
  max-width: 600px;
  margin: 0 auto;
  color: #FFF;
  margin-top: 6vh;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

/* line 1297, ../scss/screen.scss */
#sidenav .outer {
  position: relative;
}
/* line 1300, ../scss/screen.scss */
#sidenav #sn {
  position: absolute;
  top: 100px;
  width: 230px;
}
/* line 1304, ../scss/screen.scss */
#sidenav #sn a {
  display: block;
  text-decoration: none;
  color: #106799;
  font-size: 23px;
  line-height: 50px;
}

/* line 1315, ../scss/screen.scss */
.supplier-logos-fade-in,
.supplier-logos-fade-out {
  height: 80px;
  width: 100%;
  background: linear-gradient(0deg, #ffffff, #e7e8e9);
}
@media (max-width: 767px) {
  /* line 1315, ../scss/screen.scss */
  .supplier-logos-fade-in,
  .supplier-logos-fade-out {
    height: 40px;
  }
}

/* line 1324, ../scss/screen.scss */
.supplier-logos-fade-out {
  background: linear-gradient(0deg, #e7e8e9, #ffffff);
}

/* line 1329, ../scss/screen.scss */
.supplier-logos h2 {
  font-size: 26px;
  font-weight: bold;
  color: #050100;
  border-bottom: 1px solid #f96400;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

/* line 1343, ../scss/screen.scss */
.suppliers {
  overflow: hidden;
}
/* line 1345, ../scss/screen.scss */
.suppliers .supplier {
  float: left;
  width: 20%;
  padding: 10px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1350, ../scss/screen.scss */
.suppliers .supplier .supplier-logo-wrap {
  display: table-cell;
  width: 100%;
  height: 150px;
  vertical-align: middle;
  text-align: center;
}
/* line 1356, ../scss/screen.scss */
.suppliers .supplier .supplier-logo-wrap img {
  width: 100%;
  height: auto;
}
/* line 1361, ../scss/screen.scss */
.suppliers .supplier .supplier-name-wrap {
  display: none;
}
@media (max-width: 767px) {
  /* line 1345, ../scss/screen.scss */
  .suppliers .supplier {
    width: 50%;
    display: block;
  }
  /* line 1367, ../scss/screen.scss */
  .suppliers .supplier .supplier-name-wrap {
    display: block;
  }
  /* line 1370, ../scss/screen.scss */
  .suppliers .supplier .supplier-logo-wrap {
    display: none;
  }
}

/* line 1377, ../scss/screen.scss */
#contact-form {
  margin-bottom: 40px;
}

/* line 1381, ../scss/screen.scss */
.contact-form-wrapper-outer {
  overflow: hidden;
}
/* line 1383, ../scss/screen.scss */
.contact-form-wrapper-outer .contact-form-wrapper {
  width: 50%;
  float: left;
}
/* line 1387, ../scss/screen.scss */
.contact-form-wrapper-outer .contact-form-map {
  width: 50%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  /* line 1395, ../scss/screen.scss */
  .contact-form-wrapper-outer .contact-form-wrapper,
  .contact-form-wrapper-outer .contact-form-map {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}
