/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$newBlue: rgb(2, 47, 59);

@mixin break($media) {
	@if $media == tablet {
		@media (max-width: 1170px) {
			@content;
		}
	}
	@if $media == mobile {
		@media (max-width: 767px) {
			@content;
		}
	}
	@if $media == sm-mobile {
		@media (max-width: 668px) {
			@content;
		}
	}
}

.tablet-only {
	display: none;
	@media (min-width: 768px) {
		display: block;
	}
}

.mobile-only {
	display: block;
	@media (min-width: 768px) {
		display: none;
	}
}

.hide-tablet {
	@include break(tablet) {
		display: none !important;
	}
}

.hide-mobile {
	@include break(mobile) {
		display: none !important;
	}
}

body {
	color: #333;
	font-size: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

$white: #FFF;
$black: #050100;
$lavender: #e6eaee;
$blue: #014d98;
$orange: #f96400;
$altBlue: #385989;

%roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.by-beehive {
	color: #CCC;
	font-size: 16px;
	text-align: right;
	padding: 30px 15px;
	pointer-events: none;
}

.italic {
	font-style: italic;
}

.b-clear {
	overflow: hidden;
}

.outer {
	max-width: 1100px;
	padding: 0 10px;
	margin: 0 auto;
}

.inner-outer {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}

#footer {
	background-image: linear-gradient(0deg, #e7e7e8, #f4f5f4);
	padding: 20px 0;
	.outer {
		overflow: hidden;
		background-image: url('../img/footer-bg.png');
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: contain;
		padding: 40px 0;
	}
	.footer-menu-section {
		float: left;
		width: calc(100% / 8);
		@include box-sizing(border-box);
		padding-right: 10px;
		a {
			display: block;
			color: $black;
			font-weight: 400;
			text-decoration: none;
			margin-bottom: 10px;
			line-height: 20px;
			font-size: 13px;
			word-break: break-word;
			@extend %roboto;
		}
		@include break(sm-mobile) {
			width: 100%;
			padding-left: 15px;
			margin-bottom: 25px;
			padding-bottom: 10px;
			border-bottom: 1px solid #CCC;
		}
	}
	.footer-menu-info {
		float: right;
		width: calc(100% / 4);
		img {
			width: 100%;
			height: auto;
			margin-bottom: 15px;
			display: block;
		}
		div {
			margin-bottom: 15px;
			color: $newBlue;
			@extend %roboto;
			font-size: 13px;
		}
		a[href^="tel"] {
			color: $newBlue;
			&:hover,
			&:active {
				color: $newBlue;
			}
		}
		@include break(sm-mobile) {
			width: 100%;
			max-width: 200px;
			float: left;
			padding-left: 15px;
		}
	}
}

#top-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1100;
	background: $lavender;
	font-size: 15px;
	color: $black;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	@extend %roboto;
	a:link,
	a:visited,
	span {
		color: $black;
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		color: #16507d;
		&:hover,
		&:active {
			color: #5eb1e3;
		}
	}
	.top-header-separator {
		color: $blue;
		padding: 0 5px;
	}
	@include break(mobile) {
		display: none;
	}
}

#sub-header {
	position: fixed;
	top: 115px;
	z-index: 90;
	background: #f6f7fa;
	padding: 10px;
	padding-bottom: 12px;
	@extend %roboto;
	width: 100%;
	text-align: right;
	span {
		display: inline-block;
		position: relative;
		top: 3px;
		height: 17px;
		line-height: 17px;
		font-size: 24px;
		border-right: 1px solid #a9bcc3;
		width: 1px;
	}
	a {
		display: inline-block;
		color: $black;
		text-decoration: none;
		padding: 0 6px;
		font-size: 14px;
		font-weight: 100;
		&.active {
			font-weight: bold;
		}
		&:hover {
			color: #106799;
		}
	}
	@include break(tablet) {
		top: 105px;
	}
	@include break(mobile) {
		top: 70px;
		text-align: left;
		//padding: 5px 10px;
		span {
			display: none;
		}
		// a {
		// 	margin-bottom: 8px;
		// 	padding-left: 0;
		// }
	}
}

#header {
	background: #f1f4fe;
	height: 80px;
	position: fixed;
//	top: 100px;
	top: 35px;
	left:0;
	right:0;
	z-index: 1000;
	@include transition(all 100ms cubic-bezier(.17,.67,.83,.67));
	// &.top {
	// 	top: 35px;
	// }
	.inner-outer {
		height: 80px;
	}
	.header-item {
		@extend %roboto;
		display: inline-block;
		height: 80px;
		line-height: 80px;
		padding: 0 18px;
		border-top: 1px solid transparent;
		&.active,
		&:hover {
			border-top: 1px solid $black;
			color: #5eb1e3;
		}
		font-size: 20px;
		color: $orange;
		color: #16507d;
		text-decoration: none;
		font-weight: 500;
		@include break(tablet) {
			font-size: 16px;
			padding: 0 10px;
			height: 70px;
			line-height: 70px;
		}
	}
	.header-separator {
		display: inline-block;
		position: relative;
		top: 10px;
		height: 60px;
		line-height: 80px;
		font-size: 24px;
		border-right: 1px solid #a9bcc3;
		width: 1px;
	}
	@include break(tablet) {
		height: 70px;
		.inner-outer {
			height: 70px;
		}
		.header-separator {
			line-height: 70px;
			height: 50px;
		}
	}
	@include break(mobile) {
		top: 0;
		.header-separator,
		.header-item {
			display: none;
		}
	}
}

#logo {
	$logoWidth: 308.25px;
	$logoHeight: 48.75px;
	display: block;
	position: relative;
	margin-right: 60px;
	top: 16px;
	width: $logoWidth;
	height: $logoHeight;
	background-image: url('../img/header-logo.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-decoration: none;
	float: left;
	@include break(tablet) {
		width: $logoWidth *.75;
		height: $logoHeight *.75;
		margin-right: 20px;
	}
}

#mobile-menu {
	font-size: 60px;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -30px;
	color: rgb(0, 48, 59);
}

#mobile-menu-wrapper {
	display: block;
	position: fixed;
	z-index: 100000;
	background: #FFF;
	top: 70px;
	right: -252px;
	width: 250px;
	-moz-transition: all 250ms ease-in;
	-o-transition: all 250ms ease-in;
	-webkit-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
	border-left: 1px solid #00303b;
}

html {
	.main-container {
		position: relative;
		left: 0;
		-moz-transition: all 200ms ease-in;
		-o-transition: all 200ms ease-in;
		-webkit-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
	}
	@include break(mobile) {
		&.menu-out {
			height: 100%;
			overflow-y: hidden;
			.main-container {
				left: -250px;
			}
			#mobile-menu-wrapper {
				display: block;
				top: 70px;
				right: 0;
				width: 250px;
				height: 100%;
			}
		}
	}
}

.mm-inner {
	a {
		text-decoration: none;
		color: #00303b;
		display: block;
		padding: 10px 12px;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		@extend %roboto;
		&:hover,
		&:active {
			color: #00303b;
		}
	}
}

$jetStartWidth: 60vw;
$jetStartHalfWidth: $jetStartWidth / 2;
$jetStartHalfWidthPlusOne: $jetStartHalfWidth + 1;

.landing-strip-wrapper {
	background-image: url('../img/large-hero-main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-color: #a2a2a2;
	background-position: bottom center;
	position: relative;
	overflow: hidden;
	.white-drift {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -30vh;
		height: 30vh;
		background-image: linear-gradient(
			0deg,
			rgba(255, 255, 255, 1) 1%,
			rgba(255, 255, 255, 0) 95%
		);
		z-index: 106;
	}
	.intro-jet {
		position: absolute;
		left: calc(50% - #{$jetStartHalfWidthPlusOne});
		top: calc(100vh - #{$jetStartHalfWidth});
		margin: 0 auto;
		width: $jetStartWidth;
		height: $jetStartWidth;
		// width: 817px;//3268px; // Down by 1/4th
		// height: 342.25px;//1369px;
		background-image: url('../img/intro-jet-min.png');
		background-repeat: no-repeat;
		//background-size: 100% 100%;
		background-size: contain;
		//filter: grayscale(60%);
		//opacity: .1;
		transform: translate(0, 0) scale(1);
		z-index: 100;
	}
	.cloud-1 {
		position: absolute;
		margin: 0 auto;
		width: 80vw;
		height: 80vw;
		bottom: -10vw;
		left: -10vw;
		background-image: url('../img/more-clouds.png');
		background-position: 0 bottom;
		background-size: contain;
		background-repeat: no-repeat;
		transform: translate(0, 0);
		opacity: .6;
		z-index: 105;
	}
	.cloud-2 {
		position: absolute;
		margin: 0 auto;
		width: 80vw;
		height: 80vw;
		bottom: 10vw;
		right: -30vw;
		background-image: url('../img/more-clouds.png');
		background-position: 0 bottom;
		background-size: contain;
		background-repeat: no-repeat;
		transform: translate(0, 0);
		opacity: .6;
		z-index: 95;
	}
	.cloud-3 {
		position: absolute;
		margin: 0 auto;
		width: 80vw;
		height: 80vw;
		bottom: 100vw;
		right: -30vw;
		background-image: url('../img/more-clouds.png');
		background-position: 0 bottom;
		background-size: contain;
		background-repeat: no-repeat;
		transform: translate(0, 0);
		opacity: .6;
		z-index: 95;
	}
	.cloud-4 {
		position: absolute;
		margin: 0 auto;
		width: 80vw;
		height: 80vw;
		bottom: 100vw;
		left: -10vw;
		background-image: url('../img/more-clouds.png');
		background-position: 0 bottom;
		background-size: contain;
		background-repeat: no-repeat;
		transform: translate(0, 0);
		opacity: .6;
		z-index: 105;
	}
	.landing-strip-text {
		@extend %roboto;
		position: relative;
		font-size: 2em;
		font-weight: 600;
		line-height: 38px;
		padding-right: 20px;
		color: #106799;
		z-index: 105;
		width: 100%;
		text-align: center;
		top: 47vh;
		.landing-strip-text-line {
			margin-bottom: 1em;
			font-style: italic;
			@include break(mobile) {
				font-size: .8em;
			}
		}
		@include break(mobile) {
			top: 20vh;
		}
	}
}

.floating-logo {
	$floatingLogoWidth: 405px;
	$floatingLogoHeight: 277px;
	width: $floatingLogoWidth * .65;
	height: $floatingLogoHeight * .65;
	display: block;
	background-image: url('../img/hartwell-banner-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	position: relative;
	left: 10vw;
	top: 50vh;
	z-index: 120;
}

.para-col-2-right {
	padding-top: 40px;
	padding-bottom: 60px;
	overflow: hidden;
	.img {
		float: left;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.body {
		float: left;
		width: 50%;
		height: 100%;
		h3 {
			font-size: 26px;
			font-weight: bold;
			color: $blue;
			color: $black;
			border-bottom: 1px solid $orange;
			padding-bottom: 5px;
			margin-bottom: 10px;
			width: 80%;
			margin-left: 20%;
		}
		p {
			font-size: 16px;
			font-weight: bold;
			color: $black;
			color: $blue;
			line-height: 1.2em;
			margin-bottom: 25px;
			max-width: 80%;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 300;
			margin-left: 20%
		}
		ul {
			list-style-type: disc;
			color: $blue;
			margin-left: 20%;
			& > ul {
				margin-left: 20px;
			}
			li {
				margin-left: 20px;
				margin-bottom: 15px;
				font-weight: 300;
			}
		}
	}
}

.para-col-left,
.para-col-right {
	//height: 500px;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 60px;
	.para {
		float: left;
		width: 33.333%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: left center;
		position: relative;
		right: -10%;
		z-index: 0;
		transform: translate(0, 0);
		transition: transform 10ms linear;
	}
	.body {
		float: left;
		width: 33.333%;
		height: 100%;
		h3 {
			font-size: 26px;
			font-weight: bold;
			color: $blue;
			color: $black;
			border-bottom: 1px solid $orange;
			padding-bottom: 5px;
			margin-bottom: 10px;
			width: 80%;
		}
		p {
			font-size: 16px;
			font-weight: bold;
			color: $black;
			color: $blue;
			line-height: 1.2em;
			margin-bottom: 25px;
			max-width: 80%;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 300;
		}
		ul {
			list-style-type: disc;
			color: $blue;
			li {
				margin-left: 20px;
				margin-bottom: 15px;
				font-weight: 300;
			}
		}
	}
	.img {
		float: left;
		width: 33.333%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include break(mobile) {
		.body {
			float: none;
			width: 100%;
			p, h3 {
				max-width: 100%;
			}
		}
		.img {
			float: none;
			width: 100%;
			height: auto !important;
			display: none;
		}
		img {
			height: auto !important;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

.para-col-right {
	.body {
		h3, p {
			margin-left: 20%;
		}
	}
	.para {
		background-position: right center;
		position: relative;
		left: -10%;
		z-index: 0;
	}
	@include break(mobile) {
		.body {
			p, h3 {
				max-width: 100%;
				margin-left: 0;
			}
		}
	}
}

.para-col-left-1,
.para-col-right-1 {
	//height: 500px;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 60px;
	.body {
		float: left;
		width: 50%;
		height: 100%;
		h3 {
			font-size: 26px;
			font-weight: bold;
			color: $blue;
			color: $black;
			border-bottom: 1px solid $orange;
			padding-bottom: 5px;
			margin-bottom: 10px;
			width: 80%;
		}
		p {
			font-size: 16px;
			font-weight: bold;
			color: $black;
			color: $blue;
			line-height: 1.5em;
			margin-bottom: 25px;
			max-width: 80%;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 300;
		}
		ul {
			list-style-type: disc;
			color: $blue;
			li {
				margin-left: 20px;
				margin-bottom: 15px;
				font-weight: 300;
			}
		}
	}
	.img {
		float: left;
		width: 50%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@include break(mobile) {
		.body {
			float: none;
			width: 100%;
			p, h3 {
				max-width: 100%;
			}
		}
		.img {
			float: none;
			width: 100%;
			height: auto !important;
			display: none;
		}
		img {
			height: auto !important;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

.para-col-right-1 {
	.body {
		h3, p {
			margin-left: 20%;
		}
	}
	@include break(mobile) {
		.body {
			p, h3 {
				max-width: 100%;
				margin-left: 0;
			}
		}
	}
}

.recipient-selector {
	margin-top: 40px;
	margin-bottom: 40px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	.recipient-group {
		width: 33.333%;
		float: left;
		font-family: 'Roboto', sans-serif;
		@include break(tablet) {
			width: 50%;
		}
		@include break(mobile) {
			width: 100%;
			float: none;
		}
		h4 {
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			margin-bottom: 25px;
			font-weight: bold;
		}
		label {
			display: block;
			margin-bottom: 20px;
			font-size: 16px;
		}
		input {
			display: inline-block;
			vertical-align: top;
			font-size: 30px;
		}
		span {
			font-weight: 200;
			display: block;
			margin-bottom: 8px;
		}
		.input-labels {
			display: inline-block;
			width: calc(100% - 50px);
		}
	}
}

.form-left,
.form-right {
	max-width: 500px;
	label {
		display: block;
		margin-bottom: 20px;
		@include box-sizing(border-box);
		span {
			display: block;
			font-weight: bold;
		}
		input {
			display: block;
			margin-top: 10px;
			border: 1px solid #CCC;
			font-size: 14px;
			padding: 10px;
			outline: 0 !important;
			@include box-sizing(border-box);
			//width: 90%;
			width: 100%;
			border-radius: 0;
			&:focus {
				border-color: darken(#CCC, 20%);
			}
			&.error {
				border-color: #CC333F;
			}
		}
	}
}

.form-right {
	label input {
		width: 100%;
	}
}

label.comment {
	max-width: 500px;
	display: block;
	margin-bottom: 20px;
	@include box-sizing(border-box);
	span {
		display: block;
		font-weight: bold;
	}
	textarea {
		display: block;
		margin-top: 10px;
		border: 1px solid #CCC;
		font-size: 14px;
		padding: 10px;
		outline: 0 !important;
		@include box-sizing(border-box);
		width: 100%;
		resize: vertical;
		border-radius: 0;
		&:focus {
			border-color: darken(#CCC, 20%);
		}
	}
}

input[type="submit"],
.form-submit-link {
	display: inline-block;
	text-decoration: none;
	border-radius: 0;
	background: $blue;
	color: $white;
	border: 1px solid $blue;
	padding: 10px 30px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 15px;
	outline: 0;
	@include transition(all 100ms ease);
	&:hover {
		background-color: $white;
		color: $blue;
	}
}

.spinner-wrapper {
	img {
		margin-left: 10px;
		display: none;
		&.hot {
			display: inline;
		}
	}
}

.swipe-item-slideshow {
	margin-top: 0 !important;
	min-height: 200px;
	height: 100%;
	.swipe-wrap {
		height: 100%;
	}
	.swipe-wrap > div {
		min-height: 200px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
.item-slideshow {
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 60px;
	width: 1100px;
	width: 100%;
	.faux {
		width: 260px;
		float: left;
		height: 100%;
		display: block;
	}
	.img {
		float: left;
		//width: 66.666%;
		width: 480px;
		@include break(tablet) {
			width: 50%;
		}
		@include break(mobile) {
			width: 100%;
		}
		height: 100%;
		min-height: 200px;
	}
	.body {
		float: left;
		width: 33.333%;
		width: 360px;
		@include break(tablet) {
			width: 50%;
		}
		@include break(mobile) {
			width: 100%;
		}
		height: 100%;
		//padding-top: 60px;
		padding-bottom: 60px;
		h3 {
			font-size: 26px;
			font-weight: bold;
			color: $blue;
			color: $black;
			border-bottom: 1px solid $orange;
			padding-bottom: 5px;
			margin-bottom: 10px;
			width: 80%;
		}
		p {
			font-size: 16px;
			font-weight: bold;
			color: $black;
			color: $blue;
			line-height: 1.5em;
			margin-bottom: 25px;
			max-width: 80%;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 300;
		}
		ul {
			list-style-type: disc;
			color: $blue;
			li {
				margin-left: 20px;
				margin-bottom: 15px;
				font-weight: 300;
			}
		}
	}
}

.whitespace {
	height: 1000px;
	width: 100%;
}

.product-types-outer-wrapper {
	background-color: #e7e8e9;
}
.product-types {
	overflow: hidden;
	padding: 100px 0;
}

.product-type {
	float: left;
	width: 25%;
	@include break(mobile) {
		width: 50%;
		margin-bottom: 25px;
	}
	@include break(sm-mobile) {
		width: 100%;
		margin-bottom: 25px;
	}
	text-align: center;
	text-decoration: none;
	color: inherit;
	.product-type-label {
		text-align: center;
		font-size: 18px;
		padding-bottom: 15px;
	}
	img {
		max-width: 200px;
		height: auto;
		display: inline-block;
		position: relative;
		left: -20px;
	}
}

.news-headline {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: bold;
	padding: 40px 0;
}

.skip-menu {
	margin-top: 157px;
}

.news-back-link {
	display: block;
	margin-top: 10px;
}

.news-item-single {
	p {
		margin-bottom: 10px;
	}
	font-size: 16px;
	line-height: 22px;
}

.news-item {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 18px 10px;
	font-family: 'Josefin Sans', sans-serif;

	@include break(mobile) {
		width: 100%;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	h3 a {
		font-size: 23px;
		font-weight: bold;
		color: #6d6e71;
		margin-bottom: 10px;
		padding-bottom: 10px;
		display: block;
		text-decoration: none;
		border-bottom: 1px solid #f96400;
	}
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin-top:157px;
	&.no-sub {
		margin-top: 115px;
	}
	@include break(tablet) {
		margin-top: 146px;
		&.no-sub {
			margin-top: 105px;
		}
	}
	@include break(mobile) {
		margin-top: 108px;
		&.no-sub {
			margin-top: 70px;
		}
	}
}

#wireframe {
	$wireframeHeight: 741px;
	$wireframeWidth: 1140px;
	overflow: hidden;
	position: relative;
	margin-top:157px;
	height: $wireframeHeight;
	width: 100%;
	background-position: center center;
	background-size: cover;
	&.no-sub {
		margin-top: 115px;
	}
	.wireframe-fg {
		height: $wireframeHeight;
		width: $wireframeWidth;
		background-position: center center;
		background-size: 100% 100%;
		margin: 0 auto;
		position: relative;
	}
	$wireframeCircleWidth: 179px;
	$wireframeCircleHeight: 184px;
	.wireframe-circle {
		position: absolute;
		background-image: url('../img/circle-inactive.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: $wireframeCircleWidth;
		height: $wireframeCircleHeight;
		text-align: center;
		box-sizing: border-box;
		padding: 10px;
		display: table;
		span, a, a:hover, a:active, a:visited {
			display: table-cell;
			vertical-align: middle;
			color: #FFF;
			font-weight: 600;
			font-size: 17px;
			user-select: none;
		}
		&:hover {
			background-image: url('../img/circle-active.png');
		}
	}
	@include break(tablet) {
		margin-top: 146px;
		&.no-sub {
			margin-top: 105px;
		}
		height: $wireframeHeight*.7;
		.wireframe-fg {
			//@include transform(scale(0.5));
			height: $wireframeHeight*.7;
			width: $wireframeWidth*.7;
			.wireframe-circle {
				width: $wireframeCircleWidth*.7;
				height: $wireframeCircleHeight*.7;
				span, a, a:hover, a:active, a:visited {
					font-size: 14px;
				}
			}
		}
	}
	@include break(mobile) {
		margin-top: 108px;
		&.no-sub {
			margin-top: 70px;
		}
	}
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}

.page-headline {
	padding-top: 6vh;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

#swipe-fade {
	height: 10vh;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-image: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 1%,
		rgba(255, 255, 255, 0) 95%
	);
}

.hero {
	height: 80vh;
	background: url('../img/heros/home.png') no-repeat;
	background-size: cover;
	background-position: center center;
	@include break(tablet) {
		height: 50vh;
		background-size: 100% auto;
		background-position: center top;
	}
	@include break(mobile) {
		height: 40vh;
	}
	@include break(sm-mobile) {
		height: 30vh;
		height: 300px;
		background-size: cover;
	}
}

.hero-box {
	max-width: 600px;
	margin: 0 auto;
	color: $white;
	margin-top: 6vh;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

#sidenav {
	.outer {
		position: relative;
	}
	#sn {
		position: absolute;
		top: 100px;
		width: 230px;
		a {
			display: block;
			text-decoration: none;
			color: #106799;
			//@extend %roboto;
			font-size: 23px;
			line-height: 50px;
		}
	}
}

.supplier-logos-fade-in,
.supplier-logos-fade-out {
	height: 80px;
	width: 100%;
	background: linear-gradient(0deg, #FFF, #e7e8e9);
	@include break(mobile) {
		height: 40px;
	}
}
.supplier-logos-fade-out {
	background: linear-gradient(0deg, #e7e8e9, #FFF);
}

.supplier-logos {
	h2 {
		font-size: 26px;
		font-weight: bold;
		color: #050100;
		border-bottom: 1px solid #f96400;
		padding-bottom: 5px;
		margin-bottom: 10px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 400px;
	}
}

.suppliers {
	overflow: hidden;
	.supplier {
		float: left;
		width: 20%;
		padding: 10px 20px;
		@include box-sizing(border-box);
		.supplier-logo-wrap {
			display: table-cell;
			width: 100%;
			height: 150px;
			vertical-align: middle;
			text-align: center;
			img {
				width: 100%;
				height: auto;
			}
		}
		.supplier-name-wrap {
			display: none;
		}
		@include break(mobile) {
			width: 50%;
			display: block;
			.supplier-name-wrap {
				display: block;
			}
			.supplier-logo-wrap {
				display: none;
			}
		}
	}
}

#contact-form {
	margin-bottom: 40px;
}
